name: Automation test script

on:
  schedule:
    - cron: "00 18 * * *"
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Running test automation framework
      run: mvn test -X -Dbrowser=chrome -DisLambdaTest=true -DisHeadless=false

    - name: Upload test logs
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Test logs
        path: logs/

    - name: Upload test reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Test Reports
        path: report.html

    - name: Test Execution status
      run: echo "Test execution is completed"
